body {
    /*background-image: url("https://media.giphy.com/media/l3vR7xOQTuZ8J7HPy/giphy.gif");*/
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Corben', cursive;
    /*color: blanchedalmond;*/
    background: linear-gradient(#318CE7, #90ee90);
    background-attachment: fixed;
}

.dark-mode {
    background: linear-gradient(#ce7318, #6f116f);
    color: blanchedalmond;
    border-color: blanchedalmond;
    background-attachment: fixed;
}

header {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

#imgOne {
    float: right;
    padding-right: 10%;
}

#imgTwo {
    float: left;
    padding-left: 10%;
}

div {
    margin: auto;
    text-align: center;
    margin-top: 25px;
    max-width: 60%;
    padding-left: 25px;
    padding-right: 25px;
    
}

#button {
    margin: auto;
    display: grid;
    margin-bottom: 25px;
}

#display-joke {
    text-align: center;
    margin: auto;
    border-style: solid;
    /*border-color: blanchedalmond;*/
    padding-bottom: 25px;
}

#type-select {
    text-align: center;
    margin: 25px;
}

#form {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

#joke-list {
    border-spacing: 25px;
    border-style: solid;
    /*border-color: blanchedalmond;*/
    margin-top: auto;
    margin-bottom: 25px;
    padding-top: 25px;
    margin: auto; 
}

#saved-jokes {
    text-align: center;
    margin: auto;
    border-style: solid;
    /*border-color: blanchedalmond;*/
    border-spacing: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#toggle {
    margin: auto;
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}